body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 1230px) {
    max-width: 100%;
    padding: 0 15px;
  }

  @media (max-width: 700px) {
    gap: 10px;
  }
}

.active {
  display: flex !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 800px) {
    padding: 10px 0;
  }

  &__left {
    display: grid;
    grid-template-columns: auto minmax(100px, 150px) auto;
    align-items: center;
    gap: 20px;

    @media (max-width: 1060px) {
      grid-template-columns: auto 70px auto;
    }

    @media (max-width: 800px) {
      grid-template-columns: auto auto;
      gap: 10px;
    }

    @media (max-width: 700px) {
      grid-template-columns: auto;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 50px;

    @media (max-width: 1060px) {
      font-size: 40px;
    }

    @media (max-width: 700px) {
      font-size: 30px;
    }
  }

  &__logo {
    text-align: center;

    @media (max-width: 800px) {
      display: none;
    }

    img {
      width: 152px;
    }
  }

  &__right {
  }

  &__sign {
    display: flex;
    gap: 20px;

    @media (max-width: 1060px) {
      gap: 10px;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 5px;
    }

    a {
      display: block;
      padding: 10px 20px;
      background-color: black;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      border: 1px solid black;
      transition: 0.5s;
      -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

      @media (max-width: 1060px) {
        padding: 5px 10px;
        font-size: 16px;
      }

      @media (max-width: 700px) {
        padding: 3px 5px;
        font-size: 14px;
        line-height: 1.3;
      }

      &:hover {
        background-color: white;
        transition: 0.5s;
        color: black;
      }
    }
  }

  &__account {
    gap: 20px;
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
      gap: 10px;
    }

    &_name {
      font-size: 20px;

      @media (max-width: 450px) {
        font-size: 16px;
      }
    }

    img {
      width: 30px;
      height: 30px;

      @media (max-width: 450px) {
        width: 20px;
        height: 20px;
      }
    }

    &_image {
      @media (max-width: 450px) {
        display: none;
      }
    }

    &_exit {
      cursor: pointer;
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
  }

  &__name {
    width: 100%;
    height: 36px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
  }

  .from {
    width: 100%;
    height: 168px;
    border-radius: 3px;
    border: none;
  }
}

#params {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .toggle-group {
    .toggle-container {
      select {
      }
    }
  }
}

.countour {
  display: flex;
  flex-direction: column;
  gap: 10px;

  select {
    width: 100%;
    height: 36px;
    padding: 5px;
    border-radius: 3px;
    border: 0;

    option {
      border: 0;
      height: 36px;
    }
  }
}

#map {
  width: 100%;
  height: 100%;
  position: relative !important;
  overflow: visible !important;
  animation: openMap 3s ease-in-out;

  .mapboxgl-control-container {
    .mapboxgl-ctrl-top-right {
      right: auto !important;
      top: 95px;
      left: -285px;
      width: 270px;

      .mapboxgl-ctrl-geocoder,
      .mapboxgl-ctrl-directions {
        width: 100%;

        & > input {
          padding: 10px;
        }

        .mapboxgl-ctrl-geocoder {
          border-radius: 3px;
          height: 36px;
          input {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 0;
          }
        }

        @media (max-width: 640px) {
          input {
            height: 36px !important;
            font-size: 15px;
          }
          .mapboxgl-ctrl-geocoder--icon {
            width: 20px;
            height: 20px;
            top: 8px;
            left: 7px;
          }
        }
      }

      .mapboxgl-ctrl-directions {
        margin-top: 20px;
      }
    }
  }
}

@keyframes openMap {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.list {
  font-size: 26px;
  font-weight: bold;
  &__ul {
  }

  &__li {
    font-size: 20px;
    cursor: pointer;
  }
}

.courts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  padding: 0 0 20px 0;

  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
  }

  &__item {
    filter: grayscale(100%);
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      filter: grayscale(0%);
      transition: 0.5s;
    }

    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      object-position: center;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  transition: 1s ease;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    left: 0;
  }

  &__container-close {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  &__close-button {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 11;

    @media (max-width: 450px) {
      top: -25px;
      right: -25px;
      width: 20px;
      height: 20px;
    }

    &:hover {
      transition: 0.5s;
      transform: rotate(180deg);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
  }

  &__wrapper-sign {
    width: 40vw;
    position: relative;
    max-height: calc(100vh - 120px);
    overflow: auto;

    @media (max-width: 1000px) {
      width: 60vw;
    }

    @media (max-width: 600px) {
      width: calc(100vw - 120px);
    }

    @media (max-width: 450px) {
      width: calc(100vw - 80px);
      max-height: calc(100vh - 80px);
    }
  }
}

.court {
  width: 80vw;
  height: 80vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  overflow: auto;

  @media (max-width: 1230px) {
    height: calc(100vh - 120px);
    width: calc(100vw - 120px);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  @media (max-width: 450px) {
    height: calc(100vh - 80px);
    width: calc(100vw - 80px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__name {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;

    @media (max-width: 1050px) {
      font-size: 25px;
    }

    @media (max-width: 900px) {
      line-height: 1.2;
    }

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }

  &__address {
    font-size: 20px;

    @media (max-width: 1050px) {
      font-size: 18px;
    }

    @media (max-width: 550px) {
      font-size: 16px;
    }

    span {
      font-weight: bold;
    }
  }

  &__schedule {
    font-size: 18px;

    @media (max-width: 1050px) {
      font-size: 16px;
    }

    @media (max-width: 550px) {
      font-size: 14px;
    }

    p {
      font-weight: bold;
    }

    li {
      line-height: 1.2;
    }
  }

  &__button {
    padding: 5px 10px;
    background-color: rgba(34, 60, 80, 0.3);
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  #map {
    grid-column: 1/3;
    height: 50vh;
    width: 100%;

    @media (max-width: 900px) {
      grid-column: 1/2;
    }
  }
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  height: 100%;

  @media (max-width: 900px) {
    gap: 10px;
  }

  @media (max-width: 450px) {
    padding: 5px;
  }

  &__title {
    font-size: 18px;
    text-align: center;

    @media (max-width: 450px) {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bold;

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  input {
    font-size: 20px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #e6e9ee;

    @media (max-width: 450px) {
      font-size: 16px;
      padding: 5px 10px;
    }
  }
  &__email {
  }

  &__password {
  }

  &__button {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(34, 41, 67, 0.14);
    transition: 0.5s;

    @media (max-width: 450px) {
      font-size: 16px;
      padding: 5px;
    }

    &:hover {
      color: black;
      transition: 0.5s;
      background-color: #fff;
    }
  }

  &__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    div {
      width: 40px;
      cursor: pointer;

      @media (max-width: 450px) {
        width: 30px;
      }
      img {
        width: 100%;
      }
    }
  }

  &__exist,
  &__exist-not {
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.64);

    @media (max-width: 450px) {
      font-size: 12px;
      padding: 5px;
    }
  }

  &__wrong {
    display: none;
    color: red;
  }
}

.footer {
  background-color: rgba(181, 181, 181, 1);
  padding: 20px 0;
  -webkit-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);

  @media (max-width: 500px) {
    padding: 10px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__left {
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__logo {
    width: 100px;

    img {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 16px;
      text-align: center;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;

    a {
      img {
        width: 30px;
      }
    }
  }
}
