body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media (max-width: 1230px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.header__logo {
  text-align: center;
  border-bottom: 2px solid;
  padding: 25px 0;
}

.header img {
  width: 152px;
  height: 77px;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  overflow: hidden;
}

.main__left {
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  min-width: 300px;
  z-index: 2;
  margin-right: 10px;
}

.main__right {
  position: relative;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.inputs .from {
  width: 100%;
  height: 167px;
  border-radius: 3px;
  border: none;
}

#params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.countour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.countour select {
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  border: 0;
}

.countour select option {
  border: 0;
}

#map {
  width: 100%;
  height: 100%;
  position: relative !important;
  overflow: visible !important;
}

#map .mapboxgl-control-container .mapboxgl-ctrl-top-right {
  right: auto !important;
  top: 39px;
  left: -285px;
  width: 270px;
}

#map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder,
#map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-directions {
  width: 100%;
}

@media (max-width: 640px) {
  #map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder input,
  #map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-directions input {
    height: 36px !important;
    font-size: 15px;
  }
  #map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--icon,
  #map .mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl-directions .mapboxgl-ctrl-geocoder--icon {
    width: 20px;
    height: 20px;
    top: 8px;
    left: 7px;
  }
}

.sidebar {
  position: absolute;
  margin: 20px 20px 30px 20px;
  width: 25%;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
}

.card {
  font-size: small;
  border-bottom: solid #d3d3d3 2px;
  margin-bottom: 6px;
}

.card-header {
  font-weight: bold;
  padding: 6px;
}

.no-route {
  background-color: #d3d3d3;
  color: #f00;
}

.obstacle-found {
  background-color: #d3d3d3;
  color: #fff;
}

.route-found {
  background-color: #33a532;
  color: #fff;
}

.card-details {
  padding: 3px 6px;
}
/*# sourceMappingURL=style.css.map */